.find-icons {
  display: flex;
  justify-content: space-between;
  padding: 0px var(--horizontal-space);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icons__icon i {
  font-size: 50px;
  margin-top: 10px;
}
.find-icons__icon span {
  font-size: 20px;
  margin-top: 15px;
}
