.nav__list {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba();
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid var(--basic-gray);
  background-color: white;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  position: absolute;
  right: -15px;
  top: -20px;
}
.nav__newUpdate {
  background-color: tomato;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  right: -10px;
  top: -15px;
}
.nav__newUpdate-cog {
  background-color: tomato;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5px;
  position: absolute;
  right: -10px;
  top: -8px;
}
.cog {
  position: relative;
}
